---
layout: default
---
<section class="collection-head small geopattern" data-pattern-id="{{ page.title | truncate: 15, ''}}">
<div class="container">
  <div class="columns">
    <div class="column three-fourths">
      <div class="collection-title">
        <h1 class="collection-header">{{ page.title }}</h1>
        <div class="collection-info">
          {% if page.date %}
          <span class="meta-info">
            <span class="octicon octicon-calendar"></span> {{ page.date | date: "%Y/%m/%d" }}
          </span>
          {% endif %}
          {% for cat in page.categories %}
          <span class="meta-info">
            <span class="octicon octicon-file-directory"></span>
            <a href="/categories/#{{ cat }}" title="{{ cat }}">{{ cat }}</a>
          </span>
          {% endfor %}
          <!--不蒜子网站访问量统计，https://busuanzi.ibruce.info/-->
          <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
          <span class="meta-info">
            <span id="busuanzi_container_page_pv">
              visited:<span id="busuanzi_value_page_pv"></span>
            </span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
<!-- / .banner -->
<section class="container content">
<div class="columns">
  <div class="column three-fourths" >
    <article class="article-content markdown-body">
    {{ content }}
      <!--谷歌文章内嵌广告 article_ads-->
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <ins class="adsbygoogle"
           style="display:block; text-align:center;"
           data-ad-layout="in-article"
           data-ad-format="fluid"
           data-ad-client="ca-pub-9087853332219681"
           data-ad-slot="3129915088"></ins>
      <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </article>
    <div class="share">
      {% include sns-share.html %}
    </div>
    <div class="comment">
      {% include comments.html %}
    </div>
  </div>
  <div class="column one-fourth">
    {% include sidebar-search.html %}
    {% include sidebar-post-nav.html %}
  </div>
</div>
</section>
<!-- /section.content -->
